{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links     			= theme.settings.get('important_links') %}
{% set logo_in_center      			= theme.settings.get('logo_in_center') %}
{% set search_in_center    			= theme.settings.get('search_in_center') %}
{% set lang_and_currency_in_header  = theme.settings.get('lang_and_currency_in_header') %}
{% set cart_in_header       		= theme.settings.get('cart_in_header') %}
{% set login_and_profile_in_header  = theme.settings.get('login_and_profile_in_header') %}
{% set hide_settings       			= theme.settings.get('hide_settings') %}
{% set navbar              			= theme.settings.get('navbar') %}
<header class="store-header">
		<div id="mainnav" class="top-navbar main-nav-container shadow-default bg-white {{theme.settings.get('transparent_header')?'transparent-header':''}}"> <div class="inner bg-inherit">
			<div class="container-sec">
				<div class="header-nav flex items-stretch justify-between relative ">
					<div class="header-logo-links flex items-center">
						<a class="side-menu-bar-icon  mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
							{# <i class="sicon-menu text-primary text-2xl"></i> #}
							<div class="menu-line-zigzag">
								<span class="custom-line"></span>
								<span class="custom-line"></span>
								<span class="custom-line"></span>
							</div>
						</a>

						{% if not logo_in_center %}
							<a class="navbar-brand" href="{{ store.url }}">
								{% if theme.settings.get('topnav_is_dark') and theme.settings.get('logo_in_dark') %}
								<img fetchpriority="high" width="100%" height="100%" class="dark" loading="eager" src="{{ theme.settings.get('logo_in_dark') }}" alt="{{ store.name }} logo">
								{% else %}
								<img fetchpriority="high" width="100%" height="100%" class="light"  loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
								{% endif %}

								{% if is_page('index') %}
									<h1 class="sr-only">{{ store.name }}</h1>
								{% else %}
									<h2 class="sr-only">{{ store.name }}</h2>
								{% endif %}
							</a>
						{% endif %}

					</div>
					<div class="in-center">
						{% if  search_in_header %}
							{% if not logo_in_center and search_in_center %}
								<div class="header-search ">
									<salla-search inline oval class="{{theme.settings.get('search_header_is_transparent_in_dark') ? "search-transparent"}}" height="36"></salla-search>
								</div>
							{% endif %}
						{% endif %}
						{% if logo_in_center %}
							<a class="navbar-brand center-logo" href="{{ store.url }}">
								{% if theme.settings.get('topnav_is_dark') and theme.settings.get('logo_in_dark') %}
									<img fetchpriority="high" width="100%" height="100%" class="dark" loading="eager" src="{{ theme.settings.get('logo_in_dark') }}" alt="{{ store.name }} logo">
								{% else %}
									<img fetchpriority="high" width="100%" height="100%" class="light" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
								{% endif %}

								{% if is_page('index') %}
									<h1 class="sr-only">{{ store.name }}</h1>
								{% else %}
									<h2 class="sr-only">{{ store.name }}</h2>
								{% endif %}
							</a>
						{% endif %}
					</div>
					
					<div class="header-icons flex items-center justify-end">
						{% if search_in_header %}
							{% if logo_in_center %}
								<button onclick="salla.event.dispatch('search::open')" class="header-btn search">
									<i class="header-btn__icon sicon-search"></i>
								</button>
							{% endif %}
							{% if logo_in_center or ( not logo_in_center and not search_in_center) %}
								<button onclick="salla.event.dispatch('search::open')" class="header-btn search">
									<i class="header-btn__icon sicon-search"></i>
								</button>
							{% endif %}
						{% endif %}
						{% if store.settings.is_multilingual or store.settings.currencies_enabled %}
							<button type="button" onclick="salla.event.dispatch('localization::open')" class="header-btn">
								<i class="header-btn__icon sicon-earth"></i>
							</button>
							<salla-localization-modal></salla-localization-modal>
						{% endif %}
						{% if user.type=='user' %}
							<salla-user-menu avatar-only show-header></salla-user-menu>
						{% else %}
							<button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
								<i class="header-btn__icon sicon-user-circle"></i>
							</button>
						{% endif %}
						<salla-cart-summary class="ml-4 rtl:ml-[unset] salla-cart-summary header-btn">
							<i slot="icon" class="header-btn__icon icon {{theme.settings.get('cart_icon')}}"></i>
						</salla-cart-summary>
						{# Scopes | Branches #}
            {% if store.scope %}
                <button class="btn--rounded-gray"
                        onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
                    <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
                </button>
            {% endif %}
					</div>
				</div>
				{% if navbar %}
					<div class="bottom-navbar">
						<custom-main-menu style="display:none;"></custom-main-menu>
						<div id="bigMenu" class="main-menu"></div>
					</div>
				{% endif %}
			</div>
		</div>
		
				<custom-main-menu style="display:none;"></custom-main-menu>	
	</div>
</header>
{% if store.scope %}
	<salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
